/* to help me remember the values and keep armony along the different pages.
COLOR PALETTE:
         GRIS: #4F4F51 / rgba(79,79,81,1.000)   -Para el fondo
      BLANCO: #D6D6D6 / rgba(214,214,214,1.000) -Titulos grandes
      NEGRO: #2C2B30 / rgba(44,43,48,1.000)  -Bordes
      ROSA: #F2C4CE / rgba(242,196,206,1.000)  -Detalles2
TANGERINE: #F58F7C / rgba(245,143,124,1.000)   -Detalles3
*/

nav .navbar-brand
{
    font-size: xx-large;
}
.title
{
    color: #D6D6D6;
    text-shadow: 2px 2px 5px #2C2B30;
    text-align: center;
}
body
{
    background-image: linear-gradient(rgba(79,79,81,1.000),rgba(12,3,51,0.3));
}
footer
{
    background-color: #4F4F51;
    color: black;
    font-size: 17px;
}
/* Deatail adjustments */
.navul
{
    list-style-type: none;
    margin: 0;
    padding: 0px 50px;
    overflow: hidden;
    background: #333333;
}
.navli{
    float: left;
}
.nava
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover
{
    background-color: #4F4F51;
    text-decoration: none;
    color: white;
}
.infoul
{
    list-style-type: none;
    padding: 0;
    margin: 30px;
}
.infoli
{
    padding: 10px;
    border-bottom: 1px solid #555;
    background-color: #333;
    color: #fff;
}
.textbox
{
    font-family: Trebuchet, sans-serif;
    font-size: 18px;
    margin: 10px 30px;
    padding: auto 10px;
    text-align: center;
    color: black;
}
/* This would be the style for livecrypto table */
.livetable
{
    background-color: #222;
    border-collapse: collapse;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}
.liveth
{
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}
.livetd
{
    border: 1px solid #555;
    padding: 10px;
}
tr:nth-child(even)
{
  background-color: #333;
}
/*trivia*/
.inputtriv
{
    background-color: rgba(242,196,206,0.50);
    border: 3px solid #2C2B30;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 5px;
}
.buttontriv
{
    background-color: rgba(242,196,206,1.000);
    border: 3px solid #2C2B30;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.play
{
    border: 2px solid black;
    border-radius: 3px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    background-color: rgba(242,196,206,0.500);
    padding: 10px;
    font-weight: bold;
}
