/* to help me remember the values and keep armony along the different pages.
COLOR PALETTE:
    GRIS: #c6c6c9 
    BLANCO: #E4E5EA 
    NEGRO: #121212
    AZUL: #6B99C3 
    STRONG BLUE: #153EC5 
*/
body{
    background-color: #121212;
} 
/* Top Header*/
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 12rem auto 12rem auto;

}
header h1{
    display: inline-block;
    vertical-align: middle;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    width: 100%;
    color: #E4E5EA;
    text-align: center;
    font-size: 3.3rem;
}
header h1 span{
    color: rgb(19, 74, 255);
}
header button{
    display: block;
    margin: auto;
    width: fit-content;
    padding: 1rem;
    font-size: 1.5rem;
    color: #E4E5EA;
    border: 1px solid #E4E5EA;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.5s;
}
header button:hover{
    color: #121212;
    background-color: white;
}
/* NAVBAR */
nav{
    display: sticky;
    height: fit-content;
    background-color: #16354D;
    border-bottom: 5px solid #153EC5;
}
.container-nav{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.list-nav{
    width: fit-content;
    color: #E4E5EA;
}
.list-nav li{
    display: inline-block;
    margin: auto 1rem;
    font-size: 1.5rem;
    padding: 0.3rem;
    transition-duration: 0.7s;
    border-radius: 20px;
}
.list-nav li:hover{
    background-color:rgb(31, 4, 94)
}
.list-nav a{
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
}
/* === CONTENT ABOUT === */
#about{
    background-color: #E4E5EA;
}
.title{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 8rem;
    margin-bottom: 1rem;
    color: #121212;
    font-size: 3em;
}
.slide-bar {
    margin: 1px auto;
    margin-bottom: 60px;
    width: 6%;
    border-bottom: 3px solid #153EC5;
}
  /* === CARDS === */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.card{
    width: 20%;
}
.card ul{
    list-style-type: none;
    padding: 10px;
    text-align: center;
}
.card li{
    word-wrap: break-word;
    font-size: 18px;
}
.img-about{
    width: 100px;
    height: auto;
}
/* === PROFILE === */
.container-profile{
    display: flex;
    margin: 50px auto 0px auto;
    width: 90%;
}
.img-pfp{
    width: 280px;
    height: auto;
    margin: auto;
}
.img-skill{
    position: relative;
    width: 280px;
    bottom: 3.5em;
    right: 60px;
    height: auto;
    margin: auto;
}
.me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px 100px;
}
.me h3{
    margin-top: 0px;
    color: #45474d;
    font-size: 25px;
}
.me p{
    position: relative;
    bottom: 30px;
    font-size: 20px;
}
.me a{
    text-decoration: none;
}

/* === CONTENT PORTFOLIO === */
#projects{
    margin-top: 0px;
    background-color: #c6c6c9;
}
.container-projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid purple
}
.procard{
    display: flex;
    border: 1px solid rgb(0, 128, 0)
}
/* === CONTENT CONTACT === */
#contact{
    margin-top: 0px;
    background-color: #121212;
    border: 2px solid blue;
}
.title-contact{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 80px;
    margin-bottom: 2px;
    color: #E4E5EA;
    font-size: 40px;
}
.slide-bar-contact{
    margin: 1px auto;
    margin-bottom: 60px;
    width: 6%;
    border-bottom: 3px solid #ccd1e0;
}

.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid rgb(128, 0, 0)
}
.contact-form{
    display: flex;
    flex-direction: column;
    color: #153EC5;
}
form{
    display: flex;
    flex-direction: column;
    color: #153EC5;
}
.social{
    color: white;
}
/* RESPONSIVE */
@media screen and (max-width:768px){
    .container-profile{
    display: flex;
    flex-direction: column;
    margin: 50px auto 0px auto;
    width: 90%;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .card{
        width: auto;
        
    }
}