/* to help me remember the values and keep armony along the different pages.
COLOR PALETTE:
    GRIS: #4F4F51 / rgba(79,79,81,1.000)   -Para el fondo
    BLANCO: #D6D6D6 / rgba(214,214,214,1.000) -Titulos grandes
    NEGRO: #2C2B30 / rgba(44,43,48,1.000)  -Bordes
    ROSA: #F2C4CE / rgba(242,196,206,1.000)  -Detalles2
    TANGERINE: #F58F7C / rgba(245,143,124,1.000)   -Detalles3
*/
body{
    background-color: #121212;
}
/* Top Header*/
header{
    padding: 100px;
    height: 100%;
    border: 1px solid white;
}
header h1{
    display: inline-block;
    vertical-align: middle;
    margin-top: 200px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 50px;
    border: 1px solid white;
}
header h1 span{
    color: rgb(19, 74, 255);
}
header button{
    display: block;
    margin: auto;
    width: 30%;
    padding: 8px;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.5s;
}
header button:hover{
    color: black;
    background-color: white;
}
/* NAVBAR */
nav{
    background-color: rgb(3, 1, 24);
}
.main-nav{
    display: inline-block;
    list-style-type: none;
    color: white;
}
.main-nav li{
    display: inline-block;
    font-size: 25px;
}
.main-nav a{
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
}
