/*
Color Palette:
Azul Petroleo rgb(33, 112, 116)  / #217074 
Verde Albaca rgb(55, 116, 91)      / #37745B
Verde Cocodrilo rgb(139, 157, 119) / #8B9D77
Blanco Perla rgb(231, 234, 239) / #E7EAEF
Rosa Salsa rgb(237, 197, 171) / #EDC5AB
*/

body{
    background: #121212;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    font-family: 'Nova Oval', cursive;
    justify-content: center;
    flex-direction: column;
    background: #64BAAD;
}
header h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #E4E5EA;
    font-size: 4vw;
    text-shadow: 5px 5px 5px #ababab;
    transition: color 0.5s;
}
header h1:hover{
    color: #D74250;
}
#alert{
    display: none;
    justify-content: center;
    color: #D74250;
    font-family: 'Nova Oval', cursive;
    font-size: 30px;
    font-weight: bolder;
}
#encryptor{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #64BAAD;
}
/* Seccion de Input */
.container-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 25rem;
    padding: 1rem;
    background: #B6663F;
    box-shadow: 0px 24px 32px -20px rgba(0, 0, 0, 0.753);
    border-radius: 32px;
}
#input-text{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0.5em;
    text-align: center;
    font-family: 'Nova Oval', cursive;
    font-size: 3vw;
    font-weight: bold;
    background-color:#B6663F;
    color:#f9fc63;
    border: none;
    resize: none;
    outline: none; 
}
::placeholder { 
    color: #f9fc63;
    opacity: 1;
}
.buttons_container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}
.buttons{
    margin: auto;
    width: 8em;
    padding: 1em;
    border-radius: 30px;
    font-family: 'Nova Oval', cursive;
    font-weight: 900;
    font-size: 1.2vw;
}

/* Seccion de Output */
.container-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 25rem;
    padding: 1rem;
    background: #B6663F;
    box-shadow: 0px 24px 32px -20px rgba(0, 0, 0, 0.753);
    border-radius: 32px;
}
#output-text{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0.5em;
    text-align: center;
    font-family: 'Nova Oval', cursive;
    font-size: 3vw;
    font-weight: bold;
    background-color:#B6663F;
    color:#f9fc63;
    border: none;
    resize: none;
    outline: none; 
}
.container-output div{
    display: flex;
}
.container-output img{
    width: 5.2rem;
    border: 1px solid green;
}
.copyButton{
    margin: auto;
    width: 8em;
    padding: 1em;
    border-radius: 30px;
    font-family: 'Nova Oval', cursive;
    font-weight: 900;
    font-size: 1.2vw;
}
footer{
    display:flex;
    justify-content: center;
    font-family: 'Nova Oval', cursive;
    background-image: linear-gradient(#64BAAD, #121212, #121212);
}
.container-footer{
    padding-top: 5rem;
    display: flex;
    align-items: center;
}
.social{
    font-size: 2.5rem;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    border-radius: 10px;
    transition: all .2s ease;
}
.social:hover{
    box-shadow: 0 0 25px #1a63b6;
    background-color: #5b81eb;
}
.social a{
    text-decoration: none;
    color: #E4E5EA;
}
.container-footer p{
    color: #E4E5EA;
    font-weight: bold;
    padding: 1rem;
}
@media screen and (max-width:768px){
    header h1{
        display: flex;
        justify-content: center;
        text-align: center;
        color: #E4E5EA;
        font-size: 8vw;
        text-shadow: 5px 5px 5px #ababab;
        transition: color 0.5s;
    }
    #encryptor{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background: #64BAAD;
    }
    .container-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem auto;
        width: 60%;
        height: 13rem;
        padding: 1rem;
        background: #B6663F;
        box-shadow: 0px 24px 32px -20px rgba(0, 0, 0, 0.753);
        border-radius: 32px;
    }
    .container-output {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem auto;
        width: 60%;
        height: 13rem;
        padding: 1rem;
        background: #B6663F;
        box-shadow: 0px 24px 32px -20px rgba(0, 0, 0, 0.753);
        border-radius: 32px;
    }
}